/* ===== GENERAL STYLES ===== */

html {
    box-sizing: border-box;
    position: relative;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.desktop {
    display: none;
}

/* Page layout */

.desktop-sidebar-header {
    position: absolute;
    top: 0;
    width: 160px;
    height: 80px;
    background-color: hsla(120,100%,75%,0.3);
}

.desktop-sidebar {
    position: absolute;
    top: 80px;
    width: 160px;
    min-height: calc(100vh - 80px);
    background-color: hsla(200,100%,75%,0.3);
}

.desktop-header {
    position: absolute;
    top: 0;
    left: 160px;
    width: calc(100% - 160px); 
    height: 80px;
    background-color: hsla(200,100%,75%,0.3);
}

.content-wrapper {

}

/* Basic styles and typography */

body {
    font-family: sans-serif;
    font-size: 0.875rem;
    letter-spacing: -.5px;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

sup {
    display: inline-block;
    vertical-align: super;
    font-size: 75%;
    line-height: 0;
}

h1,h2 {
    font-family: 'Georgia','Times',serif; 
}

h1 {
    font-size: 1.75rem;
    font-style: italic;
}

h2 {
    font-size: 1.25rem;
    font-style: bold;
    width: 100%;
}

h3 {
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: bold;
}

small, .box {
    font-size: .75rem;
}

p, .box, ol {
    line-height: 1.4rem;
}

a {
    text-decoration: none;
    color: #0645bf;
}

a:hover {
    text-decoration: underline;
}

/* ===== HEADER STYLES ===== */

.desktop-header {
    padding-top: 2rem;
}

/* ===== CONTENT STYLES ===== */

.main-content-wrapper {
    padding: 0 1.6rem;
}

section, article {
    padding: 1rem 0;
}

#paragraph-summary {
    padding-top: 0;
}

.desktop-brackets {
    font-family: sans-serif;
    font-size: .75rem;
}

/* Lists */

ol { 
    counter-reset: item;
    font-size: 0.75rem;
}

li {
    display: block;
}

ol ol li {
    margin-left: 40px;
}

li:before {
    content: counters(item, ".") ". "; 
    counter-increment: item;
}

/* References */



/* ===== COMPONENT STYLES ===== */

.box {
    padding: .5rem;
    border: 1px solid #a2a9b1;
    background-color: #f6f6f6;
}

/* Infobox */

#infobox {
    margin-left: .5rem;
    width: 250px;
    text-align: center;
}

.infobox-heading {
    padding-bottom: .5rem;
}

table {
    width: 100%;
    text-align: left;
    font-size: .75rem;
}

/* Contents */

.contents-wrapper {
    height: 215px;
    width: calc(100% - 330px);
}

.contents-title {
    text-align: center;
}

/* Mediabox */

#mediabox {
    margin: .5rem .5rem .5rem 0rem;
}

#mediabox figcaption {
    max-width: 180px;
}

/* Sidebar styles */



/* ===== FOOTER STYLES ===== */


/* ===== MEDIA QUERIES ===== */

/* Media query breakpoints:
Small devices: less than 720px – mobile-first development applied default
Medium devices: @720 (tablets portrait orientation)
Large devices: @992 (tablets landscape orientation)
Extra large devices: @1025px (desktop)  */

@media (min-width: 720px) {}

@media (min-width: 992px) {}

@media (min-width: 1025px) {

    .desktop {
        display: inline-block;
    }

    .mobile {
        display: none;
    }

    .main-content-wrapper {
        position: absolute;
        left: 160px;
        top: 80px;
        background-color: hsla(120,100%,75%,0.3);
    }


    /* Component styles */

    #infobox {
        float: right;
    }

    #contents, #mediabox {
        float: left;
    }
    
}